[Unit]
Description=Rotary Encoder Service
After=network.target iptables.service firewalld.service

[Service]
WorkingDirectory=/home/pi/RFIDPlayer
ExecStart=/home/pi/RFIDPlayer/rotary-encoder.py

[Install]
WantedBy=multi-user.target